Keras==2.6.0
matplotlib==3.3.2
numpy
opencv-python
pandas
Pillow==7.2.0
requests==2.24.0
scikit-image
scikit-learn
scipy
seaborn
tensorboard==2.6.0
tensorboard-plugin-wit==1.7.0
tensorflow-datasets
tensorflow-estimator
typing-extensions==3.7.4
tqdm==4.49.0
black
flake8
isort>=5.0.0
pre-commit
